.login-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    align-items: center;
}

.login-wrapper {
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 2rem;
    background-color: hsl(189, 100%, 95%);
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.1);
    color: #1E0E62;
    padding-top: 1rem;
}

.login-title {
    font-size: 6vh;
    font-weight: 750;
    line-height: 1.25em;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
    max-width: 400px;
    margin-top: 2em;
}

.login-form label {
    font-size: 2vh;
    color: rgba(21, 20, 57, 0.4);
    letter-spacing: 0.05em;
    text-align: left;
}

.login-form input {    
    display: flex;
    align-items: center;
    padding: 2vh;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(21, 20, 57, 0.2);
    font-size: 1.5em;
    transition: all 0.2s ease;
    border-radius: 9999px;
    color: rgb(0, 0, 0);
    border-radius: 10em;
    width: 90%;
    max-width: 15em;
    margin-bottom: 0.8em;
}

input::placeholder {
    color: rgba(21, 20, 57, 0.2);
}

.login-form input:hover, .login-form input:focus {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.login-footer {
    margin-top: 2em;
    font-size: 2.5vh;
    color: rgba(21, 20, 57, 0.4);
    font-size: 2vh;
    margin: 2vh;
}

.login-footer a:hover {
    color: rgb(40, 90, 235);
}

.btn-login {
    max-width: none;
}
