.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 68%;
    padding: 4vh 0;
}

.nav-title {
    font-size: 2em;
}

.nav-list {
    display: flex;
    list-style: none;
    font-size: 1.4em;
}

li {
    margin: 0 0.4em;
}

a {
    text-decoration: none;
    color: #1E0E62;
}